@use '../../Theme/variables' as v;

.containerMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchItemPage {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: v.$cadet;
}

.col1 {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 600px;
  }
  button {
    margin-bottom: -50px;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    border: 3px solid v.$pewter-blue;
    border-radius: 15px;
    background-color: transparent;
    color: v.$pewter-blue;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  button:hover {
    color: v.$white;
    background-color: v.$pewter-blue;
    transform: translateY(-5px);
    transition: all 0.4s ease;
  }
}

.col2 {
  width: 70%;
  padding: 20px;
  margin-left: 100px;
  color: v.$white;

  p {
    font-size: 1.25em;
  }
}

.summary {
  color: v.$white;
  text-decoration: none;
}

.title {
  font-size: 2.5em;
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;

  h4 {
    font-weight: 600;
    font-size: 1.5em;
    padding: 50px;
    border: 3px solid v.$cadet;
    color: v.$cadet;
    border-radius: 10px;
  }

  h4:hover {
    background-color: v.$cadet;
    color: v.$white;
    cursor: pointer;
  }
}

.container {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  text-align: left;
  margin-bottom: 20px;

  div {
    margin: 20px 10px;
  }
  strong {
  font-size: x-large;
  }
  h1 {
    font-weight: normal;
    font-size: 1.25em;
  }
}

.containerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  background-color: v.$cadet;
  color: v.$white;
}

.ingredientsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  justify-content: space-between;
  margin: 0px 5px;
  padding: 30px;
  border-bottom: 2px solid v.$black;

  li {
    text-align: left;
  }

  input {
    margin-left: 20px;
    cursor: pointer;
  }
}
.ingredientsSection:hover{
  background-color: v.$pewter-blue;
  cursor: pointer;
}
.ingredientList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.checkbox{
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border: 2px solid #cacece;
  padding: 7px;
}
.checkbox:checked{
  color: v.$white;
  background-color: #025c63;
}
.checkbox:checked:after{
	position: absolute;
  content:'\2714';
  padding: 9px;

	color: white;
}

a {
  color: white;
}

