@use '../../Theme/variables' as v;

.SearchPage-Hero {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: rotate(90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;

    @include v.theme() {
      color: v.theme-get('default-opposite');
    }
  }
}

.SearchPage-Bar {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: flex-end;

  input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px;
  }

  @include v.theme() {
    background-color: v.theme-get('default-opposite');
  }
}

.SearchPage-search {
  margin-left: 20px;
  cursor: pointer;
  @include v.theme() {
    background-color: v.theme-get('default-medium');
  }
}

.SearchPage-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchPage-container {
  min-width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
