$black: #000000; // black
$white: #ffffff; // white
// Light
$blackish: #111;
$blackishOpaque: #11111180;
$blackAndBlue: #001011; // blackish

$cadet: #5d737eff; // primary

$baby-powder: #fcfffdff; // secondary
$mint-cream: #f4fff8ff; // secondary
$pewter-blue: #8baaadff; // secondary

$green-sheen: #64b6acff; // tertiary
$celeste: #c0fdfbff; // tertiary
$aero-blue: #daffefff; // tertiary

// dark
$smokey-black: #0f0a0a; // primary
