$black: #000000; // black
$white: #ffffff; // white
// Light

$cadet: #5d737eff; // primary

$baby-powder: #fcfffdff; // secondary
$mint-cream: #f4fff8ff; // secondary
$pewter-blue: #8baaadff; // secondary

$green-sheen: #64b6acff; // tertiary
$celeste: #c0fdfbff; // tertiary
$aero-blue: #daffefff; // tertiary

// dark
